In [111]:
from pycellid.core import CellData
import numpy as np
from numpy.testing import assert_allclose
import re

In [3]:
df = CellData.from_csv('samples_cellid')

In [152]:
def create_test_object_minimum():
    df = CellData.from_csv('samples_cellid')
    df = CellData(df._path, df.head(3))
    df = df[['pos', 't_frame', 'cellID', 'f_local2_bg_rfp', 'f_local2_bg_tfp']]
    df = CellData(df._path, df)
    return df
rep_r = create_test_object_minimum()
rep_r

   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp
0    1        0       0         241.2194         12523.05
1    1        1       0         240.1235         12138.30
2    1        2       0         242.0784         11993.09

In [146]:
#repr_result ='   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp\n0    1        0       0         241.2194         12523.05\n1    1        1       0         240.1235         12138.30\n2    1        2       0         242.0784         11993.09'
spected = [
    '   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp',
    '0    1        0       0         241.2194         12523.05',
    '1    1        1       0         240.1235         12138.30',
    '2    1        2       0         242.0784         11993.09'
]

In [147]:
#repr(df[['pos', 't_frame', 'cellID', 'f_local2_bg_rfp', 'f_local2_bg_tfp']].head(3).values) == repr(df_t.values)

In [148]:
repr(rep_r).split('\n') == spected

True

In [149]:
parts = repr(rep_r).split('\n')
parts

['   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp',
 '0    1        0       0         241.2194         12523.05',
 '1    1        1       0         240.1235         12138.30',
 '2    1        2       0         242.0784         11993.09']

In [150]:
num = re.compile(r'-?\d+\.?\d*')

In [151]:
for i, val in enumerate(parts[1:]):
    n_parts = np.array([n for n in num.findall(val)], dtype=float)
    n_spect = np.array([n for n in num.findall(spected[i+1])], dtype=float)
    assert_allclose(n_parts, n_spect)

In [83]:
np.all((np.array(r_s[1:]) == np.array(repr_result[1:])))

True

In [131]:

#assert_allclose(np.array(r_s[1:]), np.array(repr_result[1:]))

In [99]:
numeric = [n for n in r_s[1].split(' ') if n.isnumeric()]

In [100]:
numeric

['0', '1', '0', '0']

In [98]:
d.isnumeric()

True

In [130]:
#r_s[1].split(' ')

In [108]:
r_s

['   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp',
 '0    1        0       0         241.2194         12523.05',
 '1    1        1       0         240.1235         12138.30',
 '2    1        2       0         242.0784         11993.09']

In [117]:
np.array([s for s in re.findall(r'-?\d+\.?\d*', r_s[1])], dtype=float)

array([0.000000e+00, 1.000000e+00, 0.000000e+00, 0.000000e+00,
       2.412194e+02, 1.252305e+04])

In [118]:
num = re.compile(r'-?\d+\.?\d*')

In [173]:
for n in range(1, len(r_s)):
    rep_i = np.array([s for s in num.findall(r_s[n])], dtype=float)
    spect = np.array([s for s in num.findall(r_s[n])], dtype=float)
    rep_i , spect

In [170]:
col = ['pos', 't_frame', 'cellID', 'f_local2_bg_rfp', 'f_local2_bg_tfp']
df[df.ucid == 100000000000][col].head(3)

   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp
0    1        0       0         241.2194         12523.05
1    1        1       0         240.1235         12138.30
2    1        2       0         242.0784         11993.09